body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 1.65;
}
h1 {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  font-size: 4rem;
}
h2 {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 1.5rem 0;
  font-size: 2.5rem;
}
.p-style {
  font-size: 1.4rem;
  text-align: center;
}
.color-white {
  color: aliceblue;
  text-decoration: none;
}
.color-black {
  color: black;
}
.alt {
  list-style-type: none;
  padding-inline-start: 0px;
}
.footer-text {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 30px 0px 0px;
  width: 700px;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 100;
}

.footer-text-2 {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 0px 0px 30px;
  width: 300px;
  text-align: start;
  line-height: 2.7;
  font-weight: 100;
}
.footer-text-1 {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0px 0px 0px 0px;
  width: 500px;
  text-align: start;
  line-height: 2.7;
  font-weight: 100;
}
i {
  margin: 0 5px;
}
.icon-red {
  color: brown;
}
.margin-bottom {
  margin-bottom: 40px;
}
