@media (max-width: 500px) {
  #hero-video {
    width: auto;
    height: 100%;
  }
  .conteiner-1 {
    flex-direction: column;
  }
  .conteiner-2 {
    flex-direction: column;
  }
  .curabitur {
    height: 100%;
  }

  .highlights {
    height: 100%;
  }
  .title-banner {
    position: initial;
    text-align: center;
    color: aliceblue;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 133px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .title-banner-2 {
    width: 87%;
  }
  h1 {
    font-size: 3rem;
  }
  .photo {
    flex-direction: column;
    height: 100%;
  }
  .special {
    height: 100%;
  }
  .faucibus {
    height: 100%;
  }
  p {
    font-size: 1rem;
  }
  .content {
    margin: 10px 0px 0px 0px;
    padding: 1rem;
  }
  .image {
    margin: 8px 0px 20px 0px;
    padding: 0;
  }
  .footer-text {
    margin: 0px;
    width: auto;
  }
  .footer-text-1 {
    margin: 0px;
    width: auto;
  }
  .footer-text-2 {
    margin: 0px;
  }
  .footer-father {
    flex-direction: column;
  }
  .copyright {
    display: block;
  }
}
@media (max-width: 1024px) {
  #hero-video {
    width: auto;
    height: 100%;
  }
}
