.is-preload {
  position: relative;
  justify-content: center;
}
#header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  width: calc(100% - 36px);
  height: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.logo {
  color: azure;
  text-decoration: none;
  text-decoration-style: double;
  font-weight: 600;
}
.menu {
  color: white;
  margin-right: 40px;
  text-decoration: none;
}
#menu {
  display: flex;
  background-color: chartreuse;
}
.banner-father {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}
.gradient {
  position: absolute;
  background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
  opacity: 0.8;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.title-banner {
  position: absolute;
  top: calc(50% - 107px);
  left: calc(50% - 394px);
  text-align: center;
  color: aliceblue;
  z-index: 2;
}
.wrapper {
  display: flex;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0px 80px 0px 80px;
}
.img {
  filter: contrast(0.2) brightness(1) grayscale(1);
}
.box-block::after {
  content: "";
  background-image: url(images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  filter: contrast(0.5) brightness(1) grayscale(0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
  padding-bottom: ;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 14px;
  margin-bottom: 50px;
  background-color: rgb(255, 255, 255);
  padding: 3rem;
  text-align: center;
  box-shadow: 0px 0px 1px 0px grey;
  overflow: hidden;
  font-size: medium;
  opacity: 0.9;
}

.conteiner-1 {
  display: flex;
}
.conteiner-2 {
  display: flex;
}
.special {
  text-align: center;
  color: grey;
  margin-top: 30px;
}
.curabitur {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 200px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}
.faucibus {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 70%;
  height: 30%;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
  font-size: 2rem;
}
.author {
  display: flex;
  border: 2px solid black;
}
.big-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.photo {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.color-red {
  color: red;
  font-weight: 700;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}

.round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.PH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-line {
  border-left: 15px solid rgb(240, 240, 240);
  padding: 15px;
}
#footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  padding: 5rem 0rem 8rem 0rem;
}
.footer-mother {
  margin-left: 15%;
  margin-right: 15%;
}

.footer-father {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  width: 100%;
  align-items: baseline;
}
.parallax {
  position: relative;
}
.parallax::after {
  content: "";
  background-image: url(images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  filter: contrast(0.5) brightness(1) grayscale(0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.parallax-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cura-2 {
  position: relative;
}
.cura-2::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      rgba(206, 27, 40, 0.25),
      rgba(206, 27, 40, 0.25)
    ),
    url(images/build.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
#hero-video {
  width: 100%;
}
.copyright {
  display: flex;
  justify-content: center;
  color: white;
  border-top: 0.5px solid white;
  opacity: 0.4;
  padding-top: 29px;
}

@media (max-width: 720px) {
  .conteiner-1 {
    flex-direction: column;
    width: 80%;
  }
  .conteiner-2 {
    flex-direction: column;
    width: 80%;
  }
  .content {
    max-width: 100%;
  }
  .highlights {
    height: 100%;
  }
}
@media (max-width: 1100px) {
  #hero-video {
    width: auto;
    height: 100%;
  }
}
.li-style {
  border-top-color: rgba(255, 255, 255, 0.25);
}
