.is-preload {
  position: relative;
  justify-content: center;
}
#header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.logo {
  color: azure;
}
.menu {
  color: red;
  margin-right: 40px;
}
#menu {
  display: flex;
  background-color: chartreuse;
}
.banner-father {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}
.gradient {
  position: absolute;
  background: linear-gradient(45deg, rgb(160, 3, 3), rgb(77, 77, 80));
  opacity: 0.8;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.title-banner {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 280px);
  text-align: center;
  color: aliceblue;
  z-index: 2;
}
#hero-video {
  width: 100%;
}

body,
input,
select,
textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
  width: 100%;
}
.wrapper {
  display: flex;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 241, 247);
  flex-wrap: wrap;
}
.box-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 104, 104);
  width: 100%;
}
.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 223, 223);
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 700px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 250px;
  margin: 10px;
  border: 2px solid brown;
  background-color: white;
  padding: 15px;
  text-align: center;
}
.conteiner-1 {
  display: flex;
}
.conteiner-2 {
  display: flex;
}
.special {
  text-align: center;
}
.curabitur {
  display: flex;
  flex-flow: column;
  background-color: rgb(82, 7, 7);
  width: 100%;
  height: 200px;
  color: aliceblue;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
.Faucibus {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 100%;
  background-color: aquamarine;
}
.testimonials {
  width: 100%;
}
.author {
  display: flex;
  border: 2px solid black;
}
.big-box {
  display: flex;
  flex-wrap: wrap;
}
.photo {
  display: flex;
  background-color: darkseagreen;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.color-red {
  color: red;
  font-weight: 700;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  width: 450px;
  height: 450px;
  background-color: cornsilk;
}
#footer {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  text-align: center;
  width: 100%;
}
.round {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.PH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-line {
  border-left: 20px solid rgb(221, 158, 107);
  padding: 15px;
}
.footer-text {
  color: white;
  margin: 15px;
  width: 550px;
}
.footer-text-1 {
  color: white;
  margin: 15px;
  width: 350px;
}
.footer-father {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
