.is-preload {
  position: relative;
  justify-content: center;
}
#header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  width: calc(100% - 36px);
  height: 50px;
  background-color: rgb(0, 0, 0);
  z-index: 2;
}
.logo {
  color: azure;
}
.menu {
  color: red;
  margin-right: 40px;
}
#menu {
  display: flex;
  background-color: chartreuse;
}
.banner-father {
  position: relative;
  overflow: hidden;
  height: 600px;
}
.banner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 100%;
}
.gradient {
  position: absolute;
  background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
  opacity: 0.8;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.title-banner {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 280px);
  text-align: center;
  color: aliceblue;
  z-index: 2;
}
#hero-video {
  width: 100%;
}

body,
input,
select,
textarea {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
 
}
.wrapper {
  display: flex;
  bottom: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 0px 100px 0px 100px;
}
.img {
  filter: contrast(0.2) brightness(1) grayscale(1);
}
.box-block::after {
  content: "";
  background-image: url(images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  filter: contrast(0.5) brightness(1) grayscale(0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
}
.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 310px;
  height: 250px;
  margin: 10px;
   background-color: rgb(250, 254, 255);
  padding: 15px;
  text-align: center;
  box-shadow: 1px 2px 3px 1px grey;
  overflow: overlay;
}
.conteiner-1 {
  display: flex;
}
.conteiner-2 {
  display: flex;
}
.special {
  text-align: center;
  color: grey;;
 
}
.curabitur {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 200px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 120px;
}
.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
}
.faucibus {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 70%;
  height: 30%;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 231);
  font-size: 2rem;
  
}
.author {
  display: flex;
  border: 2px solid black;
}
.big-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.photo {
  display: flex;
  height: 600px;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.color-red {
  color: red;
  font-weight: 700;
}
.image {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 10px;
  padding: 10px;
  width: 350px;
  height: 350px;
  background-color: rgb(255, 255, 255);
}
#footer {
  display: flex;
  flex-direction: column;
  background-color: chartreuse;
  text-align: center;
  width: 100%;
}
.round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.PH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-line {
  border-left: 15px solid rgb(240, 240, 240);
  padding: 15px;
}
.footer-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 15px;
  width: 550px;
  text-align: left;
}
.footer-text-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin: 15px;
  width: 350px;
  text-align: left;
}
.footer-father {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  width: 100%;
}
.parallax {

  position: relative;
}
.parallax::after {
  content: "";
  background-image: url(images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  filter: contrast(0.5) brightness(1) grayscale(0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.parallax-1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cura-2{
  position: relative;
}
.cura-2::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(images/build.jpg);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.color-white {
color: aliceblue;
text-decoration: none;
}
.color-black {
  color: black
}
